<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fichero HTML de ejemplo</title>
</head>
<body>
    <header>
        <nav>
            <ul style="list-style-type:none;">
                <li style="display:inline-block;">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li style="display:inline-block;">
                    <a href="{% url 'conocenos' %}">Conócenos</a>
                </li>
                <li style="display:inline-block;">Blog</li>
                <li style="display:inline-block;">Contacto</li>
            </ul>
        </nav>
    </header>
    <div>
        <h1>Fichero de ejemplo HTML</h1>
    </div>
    
</body>
</html>